<!DOCTYPE html>
<html>

<head>
  <base target="_top">
  <style>
    .font {
      font-family: "Segoe UI", Tahoma, sans-serif;
     }

    .btnSignInOut {
      margin-left: 38%;
      margin-top: 15px;
      background: none;
      border: 2px solid #F6921E;
      font-size: 20px;
      cursor: pointer;
      outline: none;
      color: #F6921E;
      border-radius: 5px;
      padding: 5px 26px 10px 26px;
      text-decoration-line: none;
    }

    .btnSignInOut:hover {
      background-color: #F6921E;
      color: #FFFAF7;
    }

    .center-both {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 50%;
    }

    .headerText {
      font-size: 28px;
      text-align: center;
      color: #878888;
      margin-top: 1%;
      margin-bottom: 4%;
    }

    .divSignInButton {
      width: 100%;
      margin-top: 5%;
      overflow: none;
    }

    .divLoggedIn {
      margin: 0px 20px 0px 20px;
      height: 95%;
    }

    .editAccount {
      background: none;
      border: 0px;
      font-size: 14px;
      margin-top: 10px;
      outline: none;
      cursor: pointer;
      color: #F6921E;
    }

    .userName {
      color: #8C8D8E;
      font-size: 28px;
    }

    .logoutButton {
      background: none;
      border: 0px;
      font-size: 20px;
      margin-top: 30px;
      outline: none;
      cursor: pointer;
      color: #F6921E;
    }

    .userImage {
      padding-left: 43.5%;
    }

    .m4dLogo {
      padding-left: 40%;
      width: 20%;
    }

    .divUserName {
      text-align: center;
      margin-top: 20px
    }

    .align-center {
      text-align: center;
    }

    .signInText {
      color: #F68712;
      margin-top: -2%;
    }

    /* Avoids flashing while Vue loads */
    [v-cloak] {
      display: none;
    }

  </style>

</head>

<body class="font">
  <div id="root">
    <div v-cloak>
      <div id="login-area" v-show="allSet">
        <div v-show="!loggedIn">
          <div style="width: 100%;">
            <img class="m4dLogo" src="https://math4office.com/images/math4docs/M4D-Orange.png" align="center">
          </div>
          <div>
            <p class="headerText">Advanced mathematics </br> right inside Google Docs</p>
          </div>
          <div class="align-center">
            <p class="signInText">Sign in now to get started</p>
          </div>
          <div class="divSignInButton">
            <a id="login" class="btnSignInOut" v-bind:href="oAuthUrl" target="_blank">Sign in</a>
          </div>
        </div>

        <div v-show="loggedIn">
          <div class="divLoggedIn">
            <div style="width: 100%;">
              <img class="userImage" id="accountImage" src="https://math4office.com/images/generic-user.png" align="center">
            </div>
            <div class="align-center">
              <button id="editAccount" class="editAccount" href="https://math4office.com/Manage">Edit Account</button>
            </div>
            <div class="divUserName">
              <label id="userName" class="userName">{{ name }}</label>
            </div>
            <div class="align-center">
              <label id="userEmail" style="color: #868787; font-size: 15px;">{{ email }}</label>
            </div>
            <div class="align-center">
              <button @click="logOut" id="btnLogout" class="logoutButton">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intercom.js/0.1.4/intercom.min.js"></script>

  <script>
    var app = new Vue({
      el: '#root',
      data: {
        loggedIn: false,
        allSet: false,
        intercom: null,
        email: 'user@domain.com',
        name: 'User',
        oAuthUrl: "https://math4office.com"
      },
      methods: {
        logOut() {
          const vm = this
          google.script.run
            .withSuccessHandler(function () {
              vm.loggedIn = false
            })
            .withFailureHandler(function (err) {
              alert(err)
            })
            .logOut()
        },

        setAuthUrl(url) {
          const vm = this
          google.script.run
            .withSuccessHandler(function (url) {
              vm.oAuthUrl = url
            })
            .withFailureHandler(function (err) {
              alert(err)
            })
            .getAuthUrl()
        },

        checkLogin() {
          const vm = this
          google.script.run
            .withSuccessHandler(function (userData) {
              //alert(JSON.stringify(userData));
              if (userData) {
                vm.loggedIn = true;
                if (userData.email) {
                  vm.email = userData.email;
                }
                if (userData.given_name) {
                  vm.name = userData.given_name;
                }
              }
              vm.allSet = true // Setting it here. It should be done in last method of mounted
            })
            .withFailureHandler(function (err) {
              alert(err)
            })
            .getUserData()
        },

        handleSuccessfulLogin(data) {
          if (data.isSignedIn) {
            this.checkLogin()
            this.loggedIn = data.isSignedIn
            google.script.run
              .withSuccessHandler(google.script.host.close)
              .showSidebar()
          } else {
              alert("Login failed. Please try again.")
          }
        }
      },

      mounted() {
        this.setAuthUrl()
        this.checkLogin()
      }
    })

    var intercom = Intercom.getInstance()
    intercom.on('oauthComplete', function (data) {
      app.handleSuccessfulLogin(data)
    })

  </script>

</body>

</html>
